<img src="/images/avatar.jpg" class="bio-photo" alt="Stian Eikeland bio photo"></a>
<h3>Stian Eikeland</h3>
<p>Developer, hacker, tinkerer, foodie, diver, hobby-photographer.</p>
<a href="http://twitter.com/stianeikeland" class="author-social" target="_blank"><i class="icon-twitter"></i> Twitter</a>
<a href="http://github.com/stianeikeland" class="author-social" target="_blank"><i class="icon-github"></i> Github</a>
<a href="http://flickr.com/photos/stianeikeland" class="author-social" target="_blank"><i class="icon-flickr"></i> Flickr</a>
<a href="https://vimeo.com/eikeland/videos" class="author-social" target="_blank"><i class="icon-vimeo"></i> Vimeo</a>
