<meta charset="utf-8" />
<title>Twice the Mega Power</title>
<meta name="description" content="Personal blog of Stian Eikeland" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="light dark" />
<meta name="theme-color" content="#f4f4f1" media="(prefers-color-scheme: light)" />
<meta name="theme-color" content="#101114" media="(prefers-color-scheme: dark)" />

<!-- Webmaster Tools verification -->
<meta name="google-site-verification" content="i4G0nK29uE0z4eooLmwnloC1G0OGlEE3-oimP_-fd90" />

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
<link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />

<link rel="stylesheet" href="/style.css" />
<link rel="stylesheet" href="/pygments.css" />
<link rel="stylesheet" href="/parvus.min.css" />

<link rel="preload" href="/fonts/saira-condensed-latin-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/saira-condensed-latin-600.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/saira-condensed-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

<script>
  document.documentElement.classList.add("js");
</script>
