<!doctype html>
<html lang="en">
<head>
</head>

<body class="home">

<div id="navigation" />

<div class="image-wrap">
  <img src="/images/bergen-fisheye.jpg"
       alt="Bergen Fisheye from Ulriken">
  <span class="image-credit">Bergen fisheye - Photo Credit: Stian Eikeland</a></span>
</div>

<div id="index-wrap">
  <div class="article-author-side" id="author-bio">
    Insert author bio here
  </div>

  <div id="index">
    <h3><a href="{{ site.url}}/articles/">Articles</a></h3>
    <div id="articles"/>
  </div><!-- /#index -->
</div><!-- /#index-wrap -->

<div class="footer-wrap">
  <footer id="footer-content">
    Insert footer here
  </footer>
</div><!-- /.footer-wrap -->

<div id="scripts"/>

</body>
</html>
