<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
</head>

<body class="home">

<div id="browser-upgrade"/>
<div id="navigation" />

<div class="image-wrap">
  <img src="/images/bergen-fisheye.jpg"
       alt="Bergen Fisheye from Ulriken">
  <span class="image-credit">Bergen fisheye - Photo Credit: Stian Eikeland</a></span>
</div>

<div class="article-author-side">
  <div class="article-author-side" id="author-bio">
    Insert author bio here
  </div>
</div>

<div id="index">
  <h3><a href="{{ site.url}}/articles/">Articles</a></h3>
  <div id="articles"/>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer id="footer-content">
    Insert footer here
  </footer>
</div><!-- /.footer-wrap -->

<div id="scripts"/>

</body>
</html>
