<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
</head>

<body class="post">

<div id="browser-upgrade"/>
<div id="navigation" />

<div id="feature-image">
  <div class="image-wrap">
    <img src="img src" alt="Feature image">
  </div>
</div>

<div id="main" role="main">
  <div class="article-author-side" id="author-bio">
    Insert author bio here
  </div>
  <article>
    <div class="headline-wrap">
      <h1 id="article-title"></h1>
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      <div id="article-content"></div>
      <hr />
      <footer role="contentinfo">
        <div class="article-author-bottom" id="author-bio">
          Insert author bio here
        </div>
        <p class="byline"><strong id="article-title"></strong> was published on <time id="post-timestamp">time</time> by <a href="/about" title="About Stian Eikeland">Stian Eikeland</a>.</p>
      </footer>
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  <!--<div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div>--><!-- /.related-articles -->
  <footer id="footer-content">
    Insert footer here
  </footer>
</div><!-- /.footer-wrap -->

<div id="scripts"/>

</body>
</html>
