<!doctype html>
<html lang="en">
  <head> </head>

  <body>
    <div class="reading-progress" aria-hidden="true"></div>

    <header id="navigation"></header>

    <figure class="hero" id="feature-image">
      <img src="img src" alt="Feature image" />
    </figure>

    <main id="main">
      <aside class="author-bio author-side">Insert author bio here</aside>

      <article>
        <h1 class="article-title"></h1>
        <ul class="article-tags"></ul>

        <div class="article-content"></div>

        <footer class="article-footer">
          <div class="author-bio author-bottom">Insert author bio here</div>
          <p class="byline">
            <strong class="byline-title"></strong> was published on <time id="post-timestamp" datetime="">time</time> by
            <a class="byline-author" href="">author</a>.
          </p>
        </footer>

        <div id="comments-anchor"></div>
      </article>
    </main>

    <footer class="site-footer" id="footer-content">Insert footer here</footer>

    <div id="scripts"></div>
  </body>
</html>
